@charset "UTF-8";

@media screen and (min-width: 768px){

    header,menu,section{
        width: 768px;
        margin: auto;
    }

    .cabeca {
        padding: 2em 3%;
    }

    section {
        padding: 150px 3% 30px;
    }

    #services{
        padding-bottom: 7em;
    }

    #portfolio{
        padding-bottom: 7em;
    }

    #contacts{
        min-height: auto;
    }

    .footer {
        padding: 35px 3%;
    }
}






 

