@charset "UTF-8";

* {
  font-family: "Nunito", "sans-serif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bgcolor: #002e20;
  --bgcolor2: #084230;
  --standardcolor: #48eb50;
  --textcolor: #fff;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 70%;
    overflow-x: hidden;
  }

  header,
  menu,
  section {
    width: 768px;
    margin: auto;
  }

  .cabeca {
    padding: 2em 3%;
  }

  section {
    padding: 150px 3% 30px;
  }

  .modes{
    top: 20%;
    left: 92%;
  }

  #logo {
    top: 5%;
    left: 75%;
    cursor: default;
  }

  #navbar {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 20%;
    padding: 15px 3%;
    background-color: var(--bgcolor);
    box-shadow: 0px 8px 15px var(--standardcolor);
  }

  #services {
    padding-bottom: 7em;
  }

  #portfolio {
    padding-bottom: 7em;
  }

  #contacts {
    min-height: auto;
  }

  #footer {
    justify-content: center;
    gap: 3em;
    padding: 35px 3%;
  }

  #footerText > p{
    font-size: 2em;
  }

  #footerTop > a > i{
    font-size: 3em;
  }
}