@charset "UTF-8";

* {
  font-family: "Nunito", "sans-serif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bgcolor: #002e20;
  --bgcolor2: #084230;
  --standardcolor: #48eb50;
  --textcolor: #fff;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 70%;
    overflow-x: hidden;
  }

  header,
  menu,
  section {
    width: 768px;
    margin: auto;
  }

  section {
    padding: 8em 5% 2.5em;
  }

  @keyframes coverImage {
    100% {
      transform: translateY(0);
      opacity: 1;
      box-shadow: 0 0 0px var(--standardcolor);
    }
  }

  .cabeca {
    display: flex;
    flex-direction: row;
    padding: 2em 10%;
  }

  .modes {
    left: 90%;
  }

  #logo {
    position: absolute;
    top: 10%;
    left: 5%;
    cursor: default;
  }

  #navbar {
    display: block;
  }

  #block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
    width: 100%;
    background-color: transparent;
  }

  #block > a {
    font-size: 1.5em;
    animation: slideNav 0.3s ease forwards;
    animation-delay: calc(0.2s * var(--bar));
  }

  @keyframes slideNav {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  body.dark #block > a {
    color: black;
  }

  body.dark #block > a:hover {
    color: var(--standardcolor);
  }

  #homeImg > img,
  #selfImg > img {
    width: 350px;
    height: 400px;
    margin-top: 1em;
    border-radius: 20px;
  }

  #services {
    padding-bottom: 4em;
  }

  #portfolio {
    padding-bottom: 4em;
  }

  .html > h3,
  .css > h3,
  .js > h3 {
    font-size: 2.5em;
  }

  #footer {
    justify-content: center;
    gap: 3em;
    padding: 35px 3%;
  }

  #footerText > p {
    font-size: 2em;
  }

  #footerTop > a > i {
    font-size: 3em;
  }
}

@media screen and (min-width: 998px) {
  html {
    font-size: 80%;
  }

  #block > a {
    font-size: 1.5em;
    padding: 0px 1.2em;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 90%;
  }

  header,
  menu,
  section {
    width: 998px;
  }

  .cabeca {
    height: 130px;
  }

  #block > a {
    font-size: 1.7em;
    padding: 0px 1.5em;
  }

  #skillBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12em;
    margin-top: 20em;
    padding-bottom: 15em;
  }

  #containerHtml,
  #containerCss,
  #containerJs {
    width: 96px;
    height: 96px;
  }

  #containerHtml > span,
  #containerCss > span,
  #containerJs > span {
    position: absolute;
    left: 0;
    width: 12px;
    height: 2.5px;
    background-color: var(--textcolor);
    border-radius: 4px;
    transform-origin: 48px;
  }

  .html > img,
  .css > img,
  .js > img{
    position: relative;
  }

  .html > img{
    top: 10px;
  }

  .css > img{
    top: 10px;
    width: 80px;
    height: 80px;
  }

  .js > img{
    top: 15px;
    width: 65px;
    height: 60px;
  }

  .html > h2,
  .css > h2,
  .js > h2 {
    font-size: 2.2em;
    left: -5px;
  }

  .css > h2{
    top: -205px;
  }

  .html > h3,
  .css > h3,
  .js > h3{
    font-size: 1.7em;
  }

  .css > h3{
    top: -30px;
  }

  .js > h3{
    top: -20px;
  }
}
